body{
    
    background-color: rgba(0, 0, 0, 0.795);
}


header{
    background: linear-gradient(rgb(128, 0, 128), rgb(255, 165, 0));
    
 text-align: center;
 justify-content: center;
 align-items: center;
}

img {
    width: 200px;
    border-radius: 10px;
}


section{
background-color: rgb(255, 212, 147);

}